﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Titl</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css?@DateTime.Now.Ticks" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Parts Ordering System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated) {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Nowa naprawa", "New", "Repair")</li>
                        <li>@Html.ActionLink("Lista zamówień", "OrderList", "Repair")</li>
                        <li>@Html.ActionLink("Lista napraw", "RepairList", "Repair")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year — PartsOrderingSystem</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
