﻿@model IEnumerable<PartsOrderingSystem.Models.RepairXPart>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Part.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Part.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Part.Name
                </td>
                <td>
                    @item.Part.Price
                </td>
                <td>
                    @item.PartQuantity
                </td>
                <td>
                    @item.Total
                </td>
                <td class="delete-part" id="@item.Part.PartId" data-in-stock="@item.Part.InStock">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
