﻿@model PartsOrderingSystem.Models.RepairXPart

@{
    ViewBag.Title = "CreateRepair";
}
<script src="~/Scripts/script.js?@DateTime.Now.Ticks" type="text/javascript"></script>
<h3>Wyszukaj części</h3>
<div class="form-inline">
    @Html.EditorFor(model => model.Part.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nazwa części" } })
    @Html.EditorFor(model => model.Part.CarMake, new { htmlAttributes = new { @class = "form-control", placeholder = "Marka pojazdu" } })
    @Html.EditorFor(model => model.Part.CarModel, new { htmlAttributes = new { @class = "form-control", placeholder = "Model pojazdu" } })
    @Html.EditorFor(model => model.Part.CarYear, new { htmlAttributes = new { @class = "form-control", placeholder = "Rocznik pojazdu" } })
    <input type="button" value="Wyszukaj" class="btn btn-default" id="btn-search-part" />
</div>
<br />
<div class="parts-search-list" style="max-height: 600px;"></div>
<br />
<h3>Części do naprawy dostępne w magazynie</h3>
<hr />

@using (Html.BeginForm("SubmitRepair", "Repair"))
{
    <div class="parts-list  parts-list-table" id="@ViewBag.RepairId">
    </div>
    <input class="btn btn-success" type="submit" value="Przejdź dalej" />
}


