﻿@model PartsOrderingSystem.Models.SubmitRepairModel
@{
    ViewBag.Title = "FinalizeRepair";
    PartsOrderingSystem.Models.RepairXPart rxpModel = null;
    decimal totalInStock = 0;
    decimal totalNotInStock = 0;
}

<h2>Podsumowanie naprawy</h2>
</br>
<h4>Dane klienta</h4>
<p>
    @Html.DisplayNameFor(model => model.Repair.Client.Name) i @Html.DisplayNameFor(model => model.Repair.Client.Surname) : @Model.Repair.Client.Name @Model.Repair.Client.Surname
</p>
<p>
    @Html.DisplayNameFor(model => model.Repair.Client.Phone) : @Model.Repair.Client.Phone
</p>
<p>
    @Html.DisplayNameFor(model => model.Repair.Client.EMail) : @Model.Repair.Client.EMail
</p>
</br>
<h4>Części dostępne</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(rxp => rxpModel.Part.Name)
            </th>
            <th>
                @Html.DisplayNameFor(rxp => rxpModel.Part.Price)
            </th>
            <th>
                @Html.DisplayNameFor(rxp => rxpModel.PartQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(rxp => rxpModel.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model.PartsList)
        {
            if (part.Part.InStock)
            {
                <tr>
                    <td>
                        @part.Part.Name
                    </td>
                    <td>
                        @part.Part.Price&nbsp;zł
                    </td>
                    <td>
                        @part.PartQuantity
                    </td>
                    <td>
                        @part.Total
                        @{totalInStock += part.Total;}
                    </td>
                </tr>
            }
        }
        <tr>
            <td></td>
            <td></td>
            <td>
                Razem
            </td>
            <td>
                @totalInStock
            </td>
        </tr>
    </tbody>
</table>

</br>
<h4>Części zamówione</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(rxp => rxpModel.Part.Name)
            </th>
            <th>
                @Html.DisplayNameFor(rxp => rxpModel.Part.Price)
            </th>
            <th>
                @Html.DisplayNameFor(rxp => rxpModel.PartQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(rxp => rxpModel.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model.PartsList)
        {
            if (!part.Part.InStock)
            {
                <tr>
                    <td>
                        @part.Part.Name
                    </td>
                    <td>
                        @part.Part.Price&nbsp;zł
                    </td>
                    <td>
                        @part.PartQuantity
                    </td>
                    <td>
                        @part.Total
                        @{totalNotInStock += part.Total;}
                    </td>
                </tr>
            }
        }
        <tr>
            <td></td>
            <td></td>
            <td>
                Razem
            </td>
            <td>
                @totalNotInStock
            </td>
        </tr>
    </tbody>
</table>
@Html.ActionLink("Zatwierdź", "EndRepairSequence", null, new { @class = "btn btn-success" })
@Html.ActionLink("Przerwij", "CancelRepairSequence", null, new { @class = "btn btn-warning" })