﻿@model PartsOrderingSystem.Models.Client

@{
    ViewBag.Title = "Wybierz klienta";
}

<script src="~/Scripts/script.js?@DateTime.Now.Ticks.ToString()" type="text/javascript"></script>
<h2>Wybierz klienta do naprawy</h2>

<div class="form-inline">
    @Html.EditorFor(c => c.Surname, new { htmlAttributes = new { @class = "form-control", id = "Surname_Input", placeholder = "Surname", style = "width: 100%" } })
    @Html.EditorFor(c => c.EMail, new { htmlAttributes = new { @class = "form-control", id = "EMail_Input", placeholder = "E-Mail", style = "width: 100%" } })
    <div class="form-group">
        <input type="button" value="Wyszukaj" class="btn btn-default" id="btn-search-client" />
    </div>
    <div class="form-group">
        @Html.ActionLink("Zarejestruj nowego klienta", "RegisterClient", null, new { @class = "btn btn-success"})
    </div>
</div>

<div class="clients-list"></div>

<br/>
@using(Html.BeginForm("CreateRepair", "Repair")) {
    @Html.HiddenFor(c => c.ClientId)
    @Html.ValidationMessageFor(c => c.ClientId);
    <div class="form-inline">
        <input type="submit" class="btn btn-success" value="Przejdź do naprawy" />
    </div>
}
