﻿@model IEnumerable<PartsOrderingSystem.Models.Order>

@{
    ViewBag.Title = "OrderList";
}
<script src="~/Scripts/script.js?@DateTime.Now.Ticks" type="text/javascript"></script>
<h2>OrderList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Repair.Client.Name) i @Html.DisplayNameFor(model => model.Repair.Client.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientAccepted)
        </th>
        <th>
            Części
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Repair.Client.Name) @Html.DisplayFor(modelItem => item.Repair.Client.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientAccepted)
        </td>
        <td>
            <span class="part-list-for-repair-arrow glyphicon glyphicon-circle-arrow-down" id="@item.RepairId" aria-hidden="true"></span>
        </td>
    </tr>
    <tr style="display: none">
        <td colspan="4">
            <div class="mini-parts-list">
                <table class="table table-condensed">
                    <tr>
                        <th>Part name</th>
                        <th>Car</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    @foreach (var rxp in item.OrderXParts)
                    {
                        <tr>
                            <td>@rxp.Part.Name</td>
                            <td>@rxp.Part.CarMake @rxp.Part.CarModel @rxp.Part.CarYear</td>
                            <td>@rxp.Part.Price zł</td>
                            <td>@rxp.PartQuantity</td>
                            <td>@rxp.Total zł</td>
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
}

</table>
