﻿@model IEnumerable<PartsOrderingSystem.Models.Part>

@{ 
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>Quantity</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.CarMake
        </td>
        <td>
            @item.CarModel
        </td>
        <td>
            @item.CarYear
        </td>
        <td>
            @item.Price
        </td>
        <td>
            @Html.EditorFor(model => item.RepairXparts.GetEnumerator().Current.PartQuantity, new { htmlAttributes = new { @class = "form-control", type = "number", step = "1", id = "PartQuantity_" + item.PartId } })
        </td>
        <td class="add-part" id="@item.PartId" data-in-stock="@item.InStock">
            Dodaj
        </td>
    </tr>
}

</table>
