﻿@model IEnumerable<PartsOrderingSystem.Models.Repair>

@{
    ViewBag.Title = "RepairList";
}
<script src="~/Scripts/script.js?@DateTime.Now.Ticks" type="text/javascript"></script>
<h2>Lista napraw</h2>

<p>
    @Html.ActionLink("Nowa naprawa", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name) i @Html.DisplayNameFor(model => model.Client.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Name)
        </th>
        <th>
            Lista części
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name) @Html.DisplayNameFor(model => model.Client.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            <span class="part-list-for-repair-arrow glyphicon glyphicon-circle-arrow-down" id="@item.RepairId" aria-hidden="true"></span>
        </td>
    </tr>
    <tr style="display: none">
        <td colspan="4">
            <div class="mini-parts-list">
                <table class="table table-condensed">
                    <tr>
                        <th>Part name</th>
                        <th>Car</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    @foreach (var rxp in item.RepairXParts)
                    {
                        <tr>
                            <td>@rxp.Part.Name</td>
                            <td>@rxp.Part.CarMake @rxp.Part.CarModel @rxp.Part.CarYear</td>
                            <td>@rxp.Part.Price zł</td>
                            <td>@rxp.PartQuantity</td>
                            <td>@rxp.Total zł</td>
                        </tr>
                    }
                </table>

            </div>
        </td>
    </tr>
}

</table>
