﻿@model IEnumerable<PartsOrderingSystem.Models.RepairXPart>
@{
    var repair = (PartsOrderingSystem.Models.Repair)Session["Repair"];
}

<h2>Części na stanie dodane do naprawy dla <b>@repair.Client.Name @repair.Client.Surname</b></h2>
<script src="~/Scripts/script.js?@DateTime.Now.Ticks" type="text/javascript"></script>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Part.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Part.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Part.Name
        </td>
        <td>
            @item.Part.Price&nbsp;zł
        </td>
        <td>
            @item.PartQuantity
        </td>
        <td>
            @item.Total
        </td>
    </tr>
}
</table>

<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-success" id="finalize-repair-button">Przejdź do podsumowania</button>
    <button type="button" class="btn btn-default" id="make-order-button">Zamów części niedostępne w magazynie</button>
</div>
