﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Parts Ordering System</h2>
    <p class="lead">
        Prosty system do zapisywania napraw samochodów dla klientów, połączone ze spisem części dla danej naprawy. 
        Użytkownik może również zamówić części, które akurat nie są dostępne w magazynie. Informacja o zamawianych
        częściach jest wysyłana do użytkownika z prośbą o potwierdzenie zamówienia oraz naprawy.
    </p>
</div>
<h2>Diagram obrazujący proces obsługi naprawy</h2>
<div style="overflow-x:auto">
    <img src="~/Content/Digrams/PartOrdering_Diagram.png" />
</div>
