﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.client-row:hover{
    background-color: darkseagreen;
    color: white;
    cursor: pointer;
}

.client-row-selected{
    color: white;
    background-color: darkslategrey;
    cursor: pointer;
}

.add-part:hover {
    background-color: darkseagreen;
    color: white;
    cursor: pointer;
    text-align: center;
}

.add-part {
    color: darkslategray;
    text-align: center;
}

.delete-part:hover{
    cursor: pointer;
    color: darkred;
}

.part-list-for-repair-arrow:hover{
    cursor: pointer;
    color: coral;
}